* {
    box-sizing: border-box;
}

body {
	background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/iPqZZmF/twinkling-stars-abstract-background-monochromatic-realistic_enk7mlb8e__F0000.png");
    text-align: center;
    color: yellow
}

#container {
	padding: 5% 0;
    width:600px;
    margin: 75px auto;
    
    
}

#subcontainer {
	position: relative;
	top: 20%;
}

#subcontainer h2 {
	font-family: 'Titillium+Web', cursive;
	font-size: 30px;
	color: green;

}

#subcontainer h3 {
	font-family: 'Titillium+Web', cursive;
	color: red;
	font-size: 30px;
}

h1 {
	font-family: 'Titillium+Web', cursive;
	font-size: 75px;
	font-weight: bold;
	color: mediumblue;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 50px 0px;
}

button {
	font-family: 'Titillium+Web', cursive;
    display: block;
    width: 200px;
    height: 80px;
    margin: 80px auto 0 auto;
    cursor: pointer;
    background: rgb(251, 255, 0);
    font-size: 45px;;
    color: purple;
}

h2 {
	font-size: 50px;
	margin-bottom: 35px
}

h3 {
	font-size: 35px;
	margin-bottom: 20px;
}

#start {
	margin-top: 10%;
	border: 2px solid black;
	background: rgb(238, 255, 0);
}

#done {
	margin-top: 10%;
	border: 2px solid black;
	background: rgb(229, 255, 0);
}

#play-area h2 {
	margin-top: 50px;
}